@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&family=Roboto:wght@300&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh ;
    background:  linear-gradient(135deg, #1424, #1385);
    padding: 10px;
}


 .todo-app{
    width: 100%;
    max-width: 540px;
    background-image: url("./images/images.jpeg");
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px; 
 }
 .todo-app h1{
    color: rgb(66, 7, 149);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
 }
 .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: whitesmoke;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
 }
 .row.active {
   background-color: rgb(206, 200, 200); /* Update the background color when active */
 }

 input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px ;  
 }
  
 
 button{
    border: none;
    outline: none;
    padding:  16px 50px;
    background: rgb(144, 5, 88);
    color: black;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;  
 }
 ul li{
    list-style: none;
    font-size: 20px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
  }
 ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(./images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
 }
 ul li.checked{
    color: #555;
    text-decoration: line-through;
 }
 ul li.checked::before{
    background-image: url(./images/1828640.png);
 }
 ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 25px ;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.3s ease;
 }
 ul li:hover span {
    opacity: 1; /* Show the span on hover */
}
 ul li span:hover{
    background: #edeef0;
 }
 .task-counter {
   font-family: cursive;
     margin-top: -10px;
   margin-left: 15px;
   color: #888;
   font-size: 16px;
 }
  
 